.Buttons1 {
    background-color: #1b4543;
    color: #35958e;
    border: 2px solid #35958e;
    height: 40px;
    width: 130px;
    font-size: 20px;
}

.Buttons1:hover {
    cursor: pointer;
    background-color: #186b67;
}

.menu {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #413e35;
    user-select: none;
}

.menubox {
    background-color: #2f312c;
    width: 65%;
    height: 70%;
    left: 0;
    right: 0;
    margin-inline: auto;
    position: absolute;
    top: 15%;
    padding-left: 30px;
}

.menubox button {
    margin-bottom: 15px;
}

.menubox h1 {
    font-size: 50px;
    color: white;
    font-family: 'Calibri';
}
.menubox h3 {
    font-size: 25px;
    color: white;
    font-family: 'Calibri';
}
#menubox1 h4 {
    bottom: 2%;
    position: absolute;
    color: white;
}
#menubox-authors h4 {
    color: white;
    font-family: 'Calibri';
    overflow: hidden;
}
#menubox-authors {
    overflow: scroll;
}

.menu-img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70%;
}

#menu-authors,#menu-load,#menu-newgay {
    visibility: hidden;
}

#charname {
    background-color: #1b4543;
    color: #35958e;
    border: 2px solid #35958e;
    height: 40px;
    width: 400px;
    font-size: 20px;
}

#radiotxt {
    background-color: #1b4543;
    color: #35958e;
    border: 2px solid #35958e;
    min-height: 35px;
    max-height: 40px;
    width: 250px;
    font-size: 20px;
    font-family: 'Calibri';
}